body {
  margin: 0;
  background-image: url('index.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  background-color: midnightblue; 
  transition: 2s;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  transition: 2s ease-in-out;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 16px 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: indianred;
  opacity: 0.95;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(33, 33, 136, 0.685);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: honeydew;
  color: black;
  mix-blend-mode: lighten;
}

.subnav:hover .subnav-content {
  display: block;
}
#navRight{
    float: right;
}
#signUp{
    background-color: lightseagreen;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color:white;
  text-align: center;
}